{% extends "base.html" %}
{% block title %}Machen Sie Übungen{% endblock %}
{% block content %}
        <h3>Korrigieren Sie diese Sätze</h3>
        <table class='table'>    
        {% for exercise in correcting_exercises %}
        <tr>
            <td><textarea id='answer' class="form-control" rows="1">{{ exercise.wrong_sentence }}</textarea></td>
            <td><input value='Check' class="btn btn-default" type='submit' onclick='is_correct(this, {{exercise.id}}, "docorrections")'></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}