<html>
    <head>
        <title>Übungen</title>
    </head>
    <body>
        <h1>Übungen ({{username}})</h1>
        {% if role == 'Teacher' %}
        <button onclick='location.href="/website/correction"'>Korrigieren bilden</button>
        <button onclick='location.href="/website/translation"'>Übersetzen bilden</button>
        <button onclick='location.href="/website/reading"'>Lesen bilden</button>
        <button onclick='location.href="/website/fillin"'>Lücke füllen bilden</button>
        <button onclick='location.href="/website/ordering"'>Bestellen bilden</button>
        {% endif %}
    </body>
</html>
