{% extends "base.html" %}
{% block title %}Machen Sie Übungen{% endblock %}
{% block content %}
    <h3>Füllen Sie</h3>
    <table class='table'>	
    {% for exercise in fillin_exercises%}
    <tr>
        <td><span>{{ exercise.example }}</span></td>
        <td><span>
                <select id="answer" class='form-control'>
                    {% for choice in exercise.choices %}
                    <option value="{{choice}}">{{choice}}</option>
                    {% endfor %}
                </select>
        <td><input class="btn btn-default" type='submit' onclick='is_correct(this, {{ exercise.id }}, "dofillins")' value="Check" ></td>
        <td></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}