{% extends "base.html" %}
{% block title %}Machen Sie Übungen{% endblock %}
{% block content %}
        <h3>Übersetzen Sie, bitte</h3>
    <table class='table'>	
    {% for exercise in exercises %}
    <tr>
        <td><span>{{ exercise.description }}</span></td>
        <td>
            <ul class="list-group">
                <li class="list-group-item">
                    <span>{{ exercise.first }}</span>
                    <select id="first" class='form-control'>
                        {% for option in exercise.options %}
                            <option>{{ option }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="list-group-item">
                    <span>{{ exercise.second }}</span>
                    <select id="second" class='form-control'>
                        {% for option in exercise.options %}
                            <option>{{ option }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="list-group-item">
                    <span>{{ exercise.third }}</span>
                    <select id="third" class='form-control'>
                        {% for option in exercise.options %}
                            <option>{{ option }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="list-group-item">
                    <span>{{ exercise.fourt }}</span>
                    <select id="fourt" class='form-control'>
                        {% for option in exercise.options %}
                            <option>{{ option }}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </td>
        <td>
        <td><input type='submit' class="btn btn-default" onclick='is_ordering_correct(this, {{exercise.id}})' value="Check" ></td>
        <td></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}