<html>
    <head>
        <title>Machen Sie Übungen</title>
    {% load staticfiles %}
    <script src="{% static "js/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/scripts.js" %}" type="text/javascript"></script>
    </head>
    <body>
        <h1>Lesen Sie und antworten Sie die Frage</h1>
        <h1>{{username}}</h1>
    <table>	
    {% for exercise in reading_exercises%}
    <tr>
        <td><span>{{ exercise.text }}</span></td>
        <td><span>{{ exercise.question }}</span></td>
        <td><span>
                <select id="answer">
                    {% for choice in exercise.choices %}
                    <option id="{{choice.id}}">{{choice.text}}</option>
                    {% endfor %}
                </select>
        <td><input type='submit' onclick='is_correct(this, $(this).parents("tr").find("select:last option:checked")[0].id, "doreading")', ></td>
        <td></td>
    </tr>
    {% endfor %}
    </table>
    </body>
</html>
