{% extends "base.html" %}
{% block title %}Machen Sie Übungen{% endblock %}
{% block content %}
    <h3>Lesen Sie und antworten Sie die Frage</h3>
    <table class='table'>	
    {% for exercise in reading_exercises%}
    <tr>
        <td><span>{{ exercise.text }}</span></td>
        <td><span>{{ exercise.question }}</span></td>
        <td><span>
                <select id="answer" class='form-control'>
                    {% for choice in exercise.choices %}
                    <option id="{{choice.id}}">{{choice.text}}</option>
                    {% endfor %}
                </select>
        <td><input class="btn btn-default" type='submit' onclick='is_correct(this, $(this).parents("tr").find("select:last option:checked")[0].id, "doreading")' value="Check"></td>
        <td></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}