{% extends "base.html" %}
{% block title %}Machen Sie Übungen{% endblock %}
{% block content %}
    <h3>Übersetzen Sie, bitte</h3>
    <table class="table">	
    {% for exercise in translation_exercises %}
    <tr>
        <td><span>{{ exercise.translated_example }}</span></td>
        <td>
            <div id="dragstart{{forloop.counter}}" class="well" ondrop="drop(event)" ondragover="allowDrop(event)">
            {% for word in exercise.shuffled %}
            <span id="drag{{forloop.parentloop.counter}}{{forloop.counter}}" draggable="true" ondragstart="drag(event)">{{ word }} </span>
            {% endfor %}
            </div>
            <div id="answer" class="well" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </td> 
        <td><input class="btn btn-default" onclick='is_correct(this, {{exercise.id}}, "dotranslations")' value='Check'></td>
        <td></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}