{% extends "base.html" %}
{% block title %}Willcommen{% endblock %}

{% block content %}
    {% if role == 'Teacher' %}
    <h1>Herzlichen Willkommen, {{ username }} !</h1>
    <p>Du bist lehrer, oder?</p>
    <button class="btn btn-default" onclick='location.href="/website/exercises"'>Übungen bilden</button>
    <button class="btn btn-default" onclick='location.href="/website/doexercises"'>Übungen machen</button>
    <button class="btn btn-default" onclick='location.href="/website/logout"'>Austragen</button>
    {% elif role == 'Student' %}
    <h1>Herzlichen Willkommen, {{ username }} !</h1>
    <p>Hello, Du willst Deutsch lernen?</p>
    <button class="btn btn-default" onclick='location.href="/website/doexercises"'>Übungen machen</button>
    <button class="btn btn-default" onclick='location.href="/website/logout"'>Austragen</button>
    {% else %}
    <h2>Hello, Du willst Deutsch lernen? </h2>
    <button class="btn btn-default" onclick='location.href="/website/login"'>Anmelden</button>
    <button class="btn btn-default" onclick='location.href="/website/register"'>Registrieren</button>
    {% endif %}
{% endblock %}